@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme {

  --color-background: #261D19;
  --color-button: #1E90FF;
  --color-button-dark: #1977d6;
  --color-typography: #fff;
}