@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme {

  --color-background: #333;
  --color-button: #000;
  --color-button-dark: #171717;
  --color-typography: #fff;
}